<link rel="stylesheet" href="/home/home.css">
<header class="header">
    <h1>High School</h1>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/sair">Sair</a></li>
        </ul>
    </nav>
</header>